node_modules
coverage
.cache
dist

.eslintcache
.pnpm-debug.log*

.secret.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

mongo
